.todo-form {
    display: flex;
    flex-direction: column;
  }
 .btn-form-format {
    width: 85px;
    height: 30px;
    margin-top: 8px;
    background-color: rgb(132, 253, 197);
    color: #000000;
    font-size: 18px;
    border-width: 0px;
    border-radius: 20px;
 }
 .item-field {
    position: relative;
    bottom: 4px;
    padding: 3px;
    margin: 4px;
 }
 .date-field {
    position: relative;
    bottom: 4px;
    padding: 4px;
    margin: 5px;
 }
 .todo-label {
     line-height: 30px;
 }
 .dropdown-toggle {
   margin-bottom: 10px;
   height: 30px;
   width: 85px;
   border-width: 0px;
    border-radius: 20px;
    font-size: 18px;
    background-color: rgb(96, 212, 233);
 }